                .body {
                    background-color: #81A1BB;
                    font-family: Arial;
                    max-width: 700px;
                    margin-left: auto;
                    margin-right: auto;
                    min-width:400px;
                    margin-top: 40px;
                    
  
    
    
    
    
    
}
            
            
            
            div.contenu{
                background-color: white;
                padding: 30px;
                box-shadow: black 0px 0px 30px 5px ;
                margin-top: -8px;
               
                
                }


            .recette{
               
                text-align: center;
                font-weight: bold;
                background-color: black;
                color: white;
                width: 80px;
                padding: 8px 10px;
                margin:20px;
                margin-bottom: -100px;
                margin-top: 60px;
                display: inline-block;
                

                
            }
            div.categorie{
                text-align: center;
            }

            .textcenter{
                text-align: center;
            }



            .s1{
                margin-left: auto;
                margin-right: auto;
                max-width: 300px;
                display:block;
                text-align: center;
                font-size: 14px;
                margin-left: auto;
                margin-right: auto;
            }

            
            div.separateur{
                text-align: center;
                display: block;
                background-color: black;
                height: 1px;
                width: 160px;
                margin-left: auto;
                margin-right: auto;
            }
            .phototable{
                position: relative;
                bottom: 0;
            }
            .photo{
                width: 100%;
                display: block;
            }


            .table{
                position: absolute;
                bottom: 0;
                width: 100%;
                padding: 1%;
                color: white;
                background-color: #6C829DC0;
                font-size: 12px;
                text-align: center;
            }

            div.colonne{
                
                text-align: center;
                font-size: 14px;
                margin-top: 20px;
                margin-left: 20px;
                margin-right: 20px;
                font-weight: bold;

            }

            div.colonne h2{
                text-align: center;
                text-transform: uppercase;
                font-size: 16px;
                border-bottom: 5px #6C829D solid ;
                padding-bottom: 10px;
            }

            div.colonne1{
                display: inline-block;
                width: 40%;
                
                
            }
            div.colonne2{
                float: right;
                width: 40%;


            }

            div.ingredients p{
                border: solid black 1px ;
                padding: 7px;
                margin-top: 6px;
                margin-bottom: 0px;
                
            }
            p.numero{
                background-color:#6C829D ;
                color: white;
                font-weight: bold;
                font-size: 14px;
                text-align: center;
                padding: 5px;
                width: 30px;
                height: 30px;
                box-sizing: border-box;
                border-radius: 50%;
                margin: 5px;
               

            }

            div.overflow{
                overflow:visible;
            }




     
        